@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --color-primary-hue: 252;
    --dark-color-ligntness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --white-color: hsl(252, 30%, var(--white-color-lightness));
    --light-color: hsl(252, 30%, var(--light-color-lightness));
    --gray-color: hsl(var(--color-primary-hue), 15%, 65%);
    --primary-color: hsl(var(--color-primary-hue), 75%, 60%);
    --secondary-color: hsl(252, 100%, 90%);
    --green-color: hsl(120, 95%, 65%);
    --red-color: hsl(0, 95%, 65%);
    --dark-color: hsl(252, 30%, var(--dark-color-ligntness));
    --black-color: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--light-color);
}

.update-profile{
   min-height: 100vh;
   background-color: var(--light-color);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:var(--btn-padding);
}

.update-profile form{
   padding:20px;
   background-color: var(--white-color);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 700px;
   text-align: center;
   border-radius: var(--border-radius);
}

.update-profile form img{
   height: 200px;
   width: 200p;
   border-radius: var(--card-border-radius);
   object-fit: cover;
   margin-bottom: 5px;
}

.update-profile form .flex{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   gap:15px;
}

.update-profile form .flex .inputBox{
   width: 49%;
}

.update-profile form .flex .inputBox span{
   text-align: left;
   display: block;
   margin-top: 15px;
   font-size: 17px;
   color:var(--black-color);
}

.update-profile form .flex .inputBox .box{
   width: 100%;
   border-radius: var(--border-radius);
   background-color: var(--light-color);
   padding:12px 14px;
   font-size: 17px;
   color:var(--black-color);
   margin-top: 10px;
}

.update-profile .btn{
   width: 100px;
}

@media (max-width:650px){
   .update-profile form .flex{
      flex-wrap: wrap;
      gap:0;
   }
   .update-profile form .flex .inputBox{
      width: 100%;
   }
}